/* mock fusion css var https://unpkg.alipay.com/browse/@alife/theme-xconsole-v4@0.4.13/variables.css */

:root {
  /* ------------------------ color ------------------------ */
  --color-brand1-1: #f7f9fa;
  --color-brand1-6: #0064c8;
  --color-brand1-9: #002850;
  --color-data1-1: #00dccd;
  --color-data1-2: #506fed;
  --color-data1-3: #ae66fc;
}
